
.main-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.main-wrapper h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.problem-list{
    margin-top: 50px;
    margin-bottom: 50px;
}

.problem-container{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.problem-id{
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;

}

.problem-title{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;

}

/*make both problem id and problem title in same line? 
.problem-id{
    display: inline-block;
    margin-right: 10px;
}

.problem-title{
    display: inline-block;
}


*/